#pragma code_page(65001)

#include "resource.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDR_MAINFRAME ICON "res\BookManageMFC.ico"

IDD_LOGIN_DIALOG DIALOGEX 0, 0, 380, 300
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "图书管理系统"
FONT 9, "微软雅黑", 400, 0, 0x1
BEGIN
    LTEXT           "◆", IDC_ICON_STATIC, 0, 6, 380, 26, SS_CENTER
    LTEXT           "图书管理系统", IDC_TITLE_STATIC, 0, 38, 380, 30, SS_CENTER
    LTEXT           "BOOK MANAGEMENT SYSTEM", IDC_SUBTITLE_STATIC, 0, 74, 380, 16, SS_CENTER
    LTEXT           "", IDC_TRYCOUNT_STATIC, 70, 213, 240, 14, SS_CENTER
    LTEXT           "账  号", IDC_STATIC, 72, 129, 38, 14
    EDITTEXT        IDC_ACCOUNT_EDIT, 115, 127, 198, 17, ES_AUTOHSCROLL
    LTEXT           "密  码", IDC_STATIC, 72, 163, 38, 14
    EDITTEXT        IDC_PASSWORD_EDIT, 115, 161, 198, 17, ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "显示密码", IDC_SHOWPWD_CHECK, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 115, 186, 55, 12
    PUSHBUTTON      "登   录", IDC_LOGIN_BUTTON, 70, 232, 240, 32, BS_OWNERDRAW
    LTEXT           "v2.0", IDC_VERSION_STATIC, 330, 280, 35, 10, SS_RIGHT
END

IDD_MAIN_DIALOG DIALOGEX 0, 0, 620, 460
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "图书管理系统"
FONT 9, "微软雅黑", 400, 0, 0x1
BEGIN
    GROUPBOX        "", IDC_STATIC, 10, 5, 598, 75
    LTEXT           "图书信息", IDC_SECTION_TITLE1, 26, 1, 72, 16, SS_CENTER
    LTEXT           "编号：", IDC_STATIC, 22, 24, 35, 14
    EDITTEXT        IDC_BOOKID_EDIT, 60, 22, 100, 14, ES_AUTOHSCROLL
    LTEXT           "书名：", IDC_STATIC, 172, 24, 35, 14
    EDITTEXT        IDC_BOOKNAME_EDIT, 210, 22, 160, 14, ES_AUTOHSCROLL
    LTEXT           "价格：", IDC_STATIC, 382, 24, 35, 14
    EDITTEXT        IDC_PRICE_EDIT, 420, 22, 80, 14, ES_AUTOHSCROLL
    LTEXT           "类型：", IDC_STATIC, 510, 24, 35, 14
    COMBOBOX        IDC_TYPE_COMBO, 540, 22, 60, 80, CBS_DROPDOWNLIST | WS_VSCROLL
    LTEXT           "页数：", IDC_EXTRA1_LABEL, 22, 50, 35, 14
    EDITTEXT        IDC_EXTRA1_EDIT, 60, 48, 100, 14, ES_AUTOHSCROLL
    LTEXT           "大小(MB)：", IDC_EXTRA2_LABEL, 172, 50, 45, 14
    EDITTEXT        IDC_EXTRA2_EDIT, 218, 48, 100, 14, ES_AUTOHSCROLL

    GROUPBOX        "", IDC_STATIC, 10, 85, 598, 35
    LTEXT           "操作", IDC_SECTION_TITLE2, 26, 81, 56, 16, SS_CENTER
    PUSHBUTTON      "＋ 添加", IDC_ADD_BUTTON, 18, 93, 64, 22, BS_OWNERDRAW
    PUSHBUTTON      "✎ 修改", IDC_MODIFY_BUTTON, 88, 93, 64, 22, BS_OWNERDRAW
    PUSHBUTTON      "✕ 删除", IDC_DELETE_BUTTON, 158, 93, 64, 22, BS_OWNERDRAW
    PUSHBUTTON      "≡ 查询", IDC_SEARCH_BUTTON, 232, 93, 60, 22, BS_OWNERDRAW
    PUSHBUTTON      "⇅ 排序", IDC_SORT_BUTTON, 298, 93, 60, 22, BS_OWNERDRAW
    PUSHBUTTON      "↓ 保存", IDC_SAVE_BUTTON, 368, 93, 60, 22, BS_OWNERDRAW
    PUSHBUTTON      "↑ 加载", IDC_LOAD_BUTTON, 434, 93, 60, 22, BS_OWNERDRAW
    PUSHBUTTON      "↩ 退出", IDC_EXIT_BUTTON, 500, 93, 60, 22, BS_OWNERDRAW

    CONTROL         "", IDC_BOOK_LIST, "SysListView32",
                    LVS_REPORT | LVS_SINGLESEL | WS_BORDER | WS_TABSTOP,
                    10, 125, 598, 292

    LTEXT           "", IDC_STATUS_TEXT, 10, 418, 598, 22, SS_SUNKEN
END
